 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/77e5a90a-6e90-2f67-2e7a-663200734e97.jpg");
  background-size: auto 125%;
}

.u-section-1 .u-sheet-1 {
  min-height: 838px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 184px;
  margin: -456px 56px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 676px;
  height: 218px;
  margin: 572px 151px 0 auto;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  font-style: italic;
  text-shadow: 0px 2px 8px rgba(128,128,128,1);
  font-weight: 700;
  font-size: 1.875rem;
  font-family: "Courier New", monospace;
  margin: -170px 90px 0 333px;
}

.u-section-1 .u-form-1 {
  height: 127px;
  border-style: double;
  margin: 0 181px 60px 343px;
}

.u-section-1 .u-label-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-label-2 {
  font-size: 1.125rem;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -375px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 436px;
  }

  .u-section-1 .u-text-1 {
    width: 434px;
    margin-top: -725px;
    margin-right: 228px;
    margin-left: 223px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-top: 182px;
    margin-right: 81px;
    margin-left: 243px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -327px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 388px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 3px;
  }

  .u-section-1 .u-form-1 {
    margin-right: 0;
    margin-left: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 368px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 174px;
    margin-top: -433px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 174px;
    margin-top: 356px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -612px;
    margin-right: 171px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
    margin-top: -8px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 110px;
    margin-top: -312px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 110px;
    margin-top: 353px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: -454px;
    margin-right: 108px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
    margin-top: -33px;
    margin-bottom: 52px;
  }
}