 .u-section-1 {
  background-image: url("images/fd7ac318-1a84-fb73-ddf4-5fce09cf8dea.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1203px;
}

.u-section-1 .u-text-1 {
  width: 817px;
  margin: 10px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 10px 323px 0 0;
}

.u-section-1 .u-image-1 {
  width: 752px;
  height: 752px;
  margin: 12px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 31px 145px 0 178px;
}

.u-section-1 .u-btn-1 {
  font-size: 2.25rem;
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 19px 423px 60px auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 116px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 8px;
    margin-right: 123px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
    margin-right: 93px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 45px;
    margin-left: 78px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -121px;
    margin-right: 223px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 911px;
    margin-right: 113px;
  }

  .u-section-1 .u-image-1 {
    height: 720px;
    margin-top: -896px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -816px;
    margin-right: -11px;
    margin-left: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 3px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 55px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    height: 527px;
    width: 527px;
    margin-top: 91px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    margin-top: 34px;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -77px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 31px;
    margin-left: 0;
    margin-right: 0;
  }
}